# Python virtual environments
.venv/
venv/
env/

venv_wakeword/

jupyter_env/

# Python cache and bytecode
__pycache__/
*.py[cod]

# Tool caches
.pytest_cache/
.mypy_cache/

# Local environment files
.env
.env.*

#python models
.models

#wakeword moddel training files
wakeword_moddel_creation/

#api keys
api_key_openrouterai
hed running pip install"
